<%- include('header') %>

    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <h1 class="name">Alexandro Reis Torres de Aquino</h1>
                <h3 class="tagline">Rio de Janeiro, RJ</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto: yourname@email.com">alexpertreis@gmail.com</a>
                    </li>
                    <li class="phone">
                        <i class="fab fa-whatsapp"></i>
                        <a href="tel:+5561982027270">+55 (21) 98187-6903</a>
                    </li>
                    <li class="linkedin">
                        <i class="fab fa-linkedin-in"></i>
                        <a href="https://www.linkedin.com/in/alexandro-reis-21655433/" target="_blank">linkedin.com/in/alexandro-reis-21655433</a>
                    </li>
                    <li class="github">
                        <i class="fab fa-github"></i>
                        <a href="https://github.com/AlexandroReis" target="_blank">github.com/AlexandroReis</a>
                    </li>
                </ul>
            </div><!--//contact-container-->

            <div class="education-container container-block">
                <h2 class="container-block-title">Cursos</h2>

                <div class="item">
                    <h4 class="degree">
                        <a href="https://rafaelpiton.com.br/">Business Intelligence - RAIZZER </a>
                    </h4>
                    <h5 class="meta">FORMAÇÃO BI SERVERS, DW, PENTAHO DATA INTEGRATION PDI</h5>
                    <div class="time">40h/curso</div>
                </div>

                <div class="item">
                    <h4 class="degree">
                        <a href="https://devpleno.com">Fullstack Master</a>
                    </h4>
                    <h5 class="meta">DevPleno - remoto.</h5>
                    <div class="time">(em andamento)</div>
                </div>

                <div class="item">
                    <h4 class="degree">
                        <a href="https://udemy.com"></a>Udemy Academy</a>
                    </h4>
                    <h5 class="meta">Power BI Avançado.</h5>
                    <div class="time">12h/curso</div>
                </div>
                

                <div class="item">
                    <h4 class="degree">
                        <a href="http://aprendaplsql.com/">Curso PLSQL e SQL</a>
                    </h4>
                    <h5 class="meta">Aprendaplsql (DML e DDL)</h5>
                    <div class="time">-h/curso</div>
                </div>
            

            <div class="item">
                <h4 class="degree">
                    <a href="http://aprendaplsql.com/">Curso Data science -Machine learning </a>
                </h4>
                <h5 class="meta">Data Science do zero</h5>
                <div class="time">40h/curso</div>
            </div>
       

            <div class="item">
                <h4 class="degree">
                    <a href="http://www.idemp-edu.com.br/">Business inteligência com Power BI</a>
                </h4>
                <h5 class="meta">IDEMP</h5>
                <div class="time">24h/curso</div>
            </div>
        
        <div class="item">
            <h4 class="degree">
                <a href="https://www.cotiinformatica.com.br/">WEB DEVELOPER C# .NET</a>
            </h4>
            <h5 class="meta">COTI INFORMATICA</h5>
            <div class="time">40h/curso</div>
        </div>
   </div>

            <div class="languages-container container-block">
                <h2 class="container-block-title">Idiomas</h2>
                <ul class="list-unstyled interests-list">
                    <li>
                        Inglês - Intermediário
                       
                    </li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Interesses</h2>
                <ul class="list-unstyled interests-list">
                    <li>
                        <i class="fas fa-asterisk"></i>
                        &nbsp;Desenvolvimento
                    </li>
                    <li>
                        <i class="fas fa-asterisk"></i>
                        &nbsp;Ciência de Dados
                    </li>
                    <li>
                        <i class="fas fa-asterisk"></i>
                        &nbsp;Business Intelligence - BI
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title">
                    <span class="icon-holder"><i class="fas fa-user"></i></span>
                    Perfil Profissional
                </h2>
                <div class="summary">
                    <p>Sempre empenhado em buscar novos desafios e conhecimentos de tecnologias, softwares atuais onde o mercado está convergindo. Movido a automatizacoes com alta performance. Ajudando as áreas de negócios alavancarem e atingirem seus objetivos. </p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title">
                    <span class="icon-holder"><i class="fas fa-briefcase"></i></span>
                    Experiências
                </h2>
               
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de Performance Sênior</h3>
                            <div class="time">2016 - Até o momento</div>
                        </div>
                        <div class="company">Rede D'Or São Luiz</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Monitoramento e analise dos indicadores de consistência da base de itens faturáveis.
                            Identificação e direcionamento das inconsistências para as áreas competentes.
                            Garantia do tratamento das inconsistências.
                            Maximização dos resultados das áreas e implementação de melhorias.
                            Geração de  Dashboard.
                            Monitoramento dos indicadores de desempenho.
                            Garantia de receita e suporte a tomada de decisão.
                            Migração de rotinas em Excel, VBA e banco no Access para banco de dados da Oracle e modelagem Data Warehouse com o software de BI Pentaho, usando suas ferramentas de extração, transformação e carga de dados (ETL PENTAHO DATA INTEGRATION), acessando várias fontes de dados dos ERP'S Soul MV, Tasy e WPD de vários módulos, e sistemas de chamados Automidia SLA, agendamento de JOBS, manipulação de queries SQL e PLSQL. Dando maior visibilidade das áreas de negócio aos tomadores de decisões com indicadores de desempenho.
                            Desenvolvimento de relatórios no Power BI com indicadores para áreas de regras comerciais e cadastro. versão desktop diário, gerencial e mobile  e painéis de priorizacoes na TV.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de Sistemas.</h3>
                            <div class="time">2014 - 2016</div>
                        </div>
                        <div class="company">Instituto Sócrates Guanaes - ISG</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsável pela implantação do sistema hospitalar  ERP da SOULMV na plataforma JAVA hospedado no contêiner web Apache Tomcat e implantação do banco de dados Oracle Linux.
                            Ganhamos agilidade nos processos e fluxos do hospital que antes era tudo no papel, com a integração dos sistemas aumentamos nosso faturamento mensal e disponibilizamos maior confiabilidade e segurança nas informações dos pacientes. Melhoramos os diagnósticos finais por parte da equipe assistencial de cada setor / unidade de internação.
                            Os setores administrativos damos maior visibilidade e agilidade nos processos internos, como exemplo o controle de estoque de suprimentos, evitando desperdícios desnecessários de insumos/materiais, assim garantimos controle bem maior do inventário e contagens dos produtos.
                            Gerenciamento de projetos,plano de ação,  UML e manipulação de dados em banco de dados Oracle, SQL, PLSQL,MVreport para criação de relatórios gerenciais com dados estatísticos e administrativos. Desenvolvimento de documentos do prontuário eletrônico do Paciente na ferramenta MVeditor e implantação , desenvolvimento e geração do painel de indicadores(BI) (View,queries no Oracle) para tomada de decisões gerenciais.
                            </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de Sistemas(Planejamento).</h3>
                            <div class="time">2012 - 2012</div>
                        </div>
                        <div class="company">Comperj Itaborai - Petrobras</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Foram realizados levantamentos de informações na maquete eletrônica para disciplina de Tubulação, com o software Navisworks da AutoDesk, criação de planilhas com dados das situações e andamentos das etapas por parte da engenharia, atividade em campo medindo juntamente com cada resposavél pela obra. 
Relatórios gerenciais para o controle do Coordenador e da Gerente, acompanhamento dos Isométricos através do sistema web PGE.
Criação de uma rotina em groovy para atualização dos layouts de Pipes Racks com a situação de cada fase de montagem da tubulação (spools) e desenvolvimento de um sistema de controle de andamento da montagem e baseado em um sistema  Access.
Criação de um sistema controle de medição semanal (programado x realizado) para entrega a fiscalização da Petrobras, em Grails e Ireport;
Controle de quantitativos e HH de cada disciplina para controle da Gestão e planejamento Estratégico.   
Levantamentos de requisitos para criação de Sistemas para as Disciplinas, utilizando a UML para modelagem. Criação de um sistema de Etiquetas em Grails, Ireport  para o controle de equipamentos entregues na obra; Requisições de materiais para a produção e almoxarifado no sistema SATPLA.



Principais softwares utilizados no empreendimento: 

NAVISWORKS AUTODESK, SATPLA(UTC),GITEC(Petrobras) AUTOCAD, ACCESS, ASTAH, ADOBE PROFESSIONAL, POWER POINT E EXCEL.

Principais linguagens:

GRAILS, JAVA, HTML, CSS, JQUERY, SQL.

Banco de dados:

MYSQL</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analista de Sistemas Jr.</h3>
                            <div class="time">2014 - 2016</div>
                        </div>
                        <div class="company">CSP Consultoria & Sistemas - Cliente INES- Instituto Nacional de Educação de Surdos.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Atividades Realizadas: Análise, Manutenção e desenvolvimento PHP.
                            Atividades técnicas / operacionais: Manutenção nos sistemas existente, instalação, configuração do servidor LAMP (Linux,apache,PHP e Mysql) nos servidores , gerenciamento das pastas web dos projetos no servidor Linux Ubuntu, criação e otimização com PHP para controle dos processos, segurança e permissões de usuários LDAP(Em um sistemas de chamados HELP DESK de infra da instituição com monitoramento).
                            Utilizava a UML para modelagem dos processos (casos de uso, diagrama de sequência, classe e atividades), bem como analisar os cenários atuais dos sistemas existentes. Uso de boas práticas usando metodologias ágeis de desenvolvimento, como Kanban conciliado com XP, desenvolvimento de novas funcionalidades respeitando os padrões OO e MVC(Model, View, Control), análise juntamente com os usuários em reunião para melhorias nos sistemas ,colocados em ATA e posteriormente a criação de um Termo de abertura de projetos. Elaborar Relatórios semanais para o gerente com andamento dos projetos e dos sistemas em produção.  
                            
                            Principais softwares:   
                            
                            MOODLE, IDE NETBENS,CSS,DREAMWEAVER CS5, EXCEL, ASTAH MODEL , WORDPRESS,.
                            
                            Servidores:
                            
                            Ubuntu 10 server, Apache, Windows server 2010, Apache tomcat, Glassfish
                            
                            Principais linguagens:
                            
                            PHP 4 e 5, JAVASCRIPT, JQUERY, MYSQL, POSTGRESQL, HTML5, XML
                            
                            Banco de dados:
                            
                            Postgres, Mysql
                            </p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title">
                    <span class="icon-holder"><i class="fas fa-graduation-cap"></i></span>
                    Formação Acadêmica
                </h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Análise de Sistemas de Computação</h3>
                            <div class="time">2006 - 2011</div>
                        </div>
                        <div class="company">Universidade Estácio de Sá</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Graduação <em>bacharel</em> </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Processamento de Dados</h3>
                            <div class="time">1999 - 2001</div>
                        </div>
                        <div class="company">Colégio São Gonçalo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>2º Grau tecnico.</p>
                    </div><!--//details-->
                </div><!--//item-->

               

            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title">
                    <span class="icon-holder">
                    <i class="fas fa-rocket"></i></span>
                    Habilidades
                </h2>
                <div class="skillset">
                    <ul style="list-style: none; font-size: 40px; text-align: center;">
                        <li class="list-inline-dev-icons">
                            <i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i>
                            <i class="fab fa-node-js"></i> <i class="fab fa-python"></i>
                            <i class="fab fa-php"></i> <i class="fab fa-java"></i>
                            <i class="fas fa-database"></i>
                        </li>
                    </ul>
                </div>
            </section>

        </div><!--//main-body-->
    </div>

    <%- include('footer') %>
